
	
	{{id}} {{name}}

	<button class="change-sleep" data-id="{{id}}" data-newsleep="{{sleep}}">Eat!
		{{!-- {{#if sleep}}Eat!{{else}}Un eat!{{/if}} --}}
	</button>

	{{!-- <button class="delete-cat" data-id="{{this.id}}">DELETE!</button> --}}

